.card-body {
    /* flex: 1 1 auto; */
    cursor: pointer;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body-text{
    display: grid;
    justify-content: center;
    align-content: center;
    color:#002521;
    width: 80%;
    font-size: small;
    font-family: "Great Vibes", cursive;
}

.card-body-icon{
    display: grid;
    justify-content: center;
    align-content: center;
    width:20%;
}